<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="${request.contextPath}/css/font.css">
        <link rel="stylesheet" href="${request.contextPath}/css/xadmin.css">
        <link rel="stylesheet" href="${request.contextPath}/css/layui.css">
        <script src="${request.contextPath}/js/layui.js" charset="utf-8"></script>
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
    
        <div class="layui-row layui-col-space10">
             <div class="layui-col-md2">
             <div class="layui-select-title">
                  <div class="layui-input-inline">
                    <select name="modules" lay-verify="required" class="layui-input" lay-search="">
                      <option value="">所有系统</option>
                      <option value="1">layer</option>
                      <option value="2">form</option>
                      <option value="3">layim</option>
                      <option value="4">element</option>
                      <option value="5">laytpl</option>
                      <option value="6">upload</option>
                      <option value="7">laydate</option>
                      <option value="8">laypage</option>
                      <option value="9">flow</option>
                      <option value="10">util</option>
                      <option value="11">code</option>
                      <option value="12">tree</option>
                      <option value="13">layedit</option>
                      <option value="14">nav</option>
                      <option value="15">tab</option>
                      <option value="16">table</option>
                      <option value="17">select</option>
                      <option value="18">checkbox</option>
                      <option value="19">switch</option>
                      <option value="20">radio</option>
                    </select>
                  </div>
                </div>
                </div>
             <div class="layui-col-md8">
                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入接口名称或者接口描述信息" class="layui-input">

             </div>
             <div class="layui-col-md2">
                     <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
              </div>
        </div>


        <br/>
        <br/>
        <br/>
        <br/>
  <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>所属系统</th>
            <th>接口名称</th>
            <th>接口描述</th>
            <th>录入版本</th>
            <th>接口负责人</th>
            <td>状态</td>
            <th>录入时间</th>
            <th>最后修改时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>FTS</td>
            <td>com.github.fts.facade.GenearalTransFacade.TransFacade.queryTransByTransId</td>
            <td>根据交易流水号查询交易接口</td>
            <td>V1.0 SNAPSHOT</td>
            <td>zhangbo</td>
            <td>状态标识</td>
           <td>2017-01-01 11:11:42</td>
            <td>2017-01-01 11:11:42</td>
            <td class="td-status">
              <span class="layui-btn layui-btn-normal layui-btn-mini">查看明细</span>
            </td>
          </tr>
        </tbody>
       </table>
       <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>







        
       <fieldset class="layui-elem-field">
          <legend>数据统计</legend>
          <div class="layui-field-box">
              <div class="layui-col-md12">
                  <div class="layui-card">
                      <div class="layui-card-body">
                          <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                              <div carousel-item="">
                                  <ul class="layui-row layui-col-space10 layui-this">
                                      <li class="layui-col-xs5">
                                          <a href="javascript:;" class="x-admin-backlog-body">
                                              <h3>接入系统总数</h3>
                                              <p>
                                                  <cite>66</cite></p>
                                          </a>
                                      </li>
                                      <li class="layui-col-xs5">
                                          <a href="javascript:;" class="x-admin-backlog-body">
                                              <h3>接口总数</h3>
                                              <p>
                                                  <cite>12</cite></p>
                                          </a>
                                      </li>
                                     <!--  <li class="layui-col-xs2">
                                          <a href="javascript:;" class="x-admin-backlog-body">
                                              <h3>回复数</h3>
                                              <p>
                                                  <cite>99</cite></p>
                                          </a>
                                      </li>
                                      <li class="layui-col-xs2">
                                          <a href="javascript:;" class="x-admin-backlog-body">
                                              <h3>商品数</h3>
                                              <p>
                                                  <cite>67</cite></p>
                                          </a>
                                      </li>
                                      <li class="layui-col-xs2">
                                          <a href="javascript:;" class="x-admin-backlog-body">
                                              <h3>文章数</h3>
                                              <p>
                                                  <cite>67</cite></p>
                                          </a>
                                      </li>
                                      <li class="layui-col-xs2">
                                          <a href="javascript:;" class="x-admin-backlog-body">
                                              <h3>文章数</h3>
                                              <p>
                                                  <cite>6766</cite></p>
                                          </a>
                                      </li> -->
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </fieldset>
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>开发者(发起人)</th>
                            <td>张博(473816910@qq.com)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
     


    </body>
</html>