<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>接口明细</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="${request.contextPath}/css/font.css">
    <link rel="stylesheet" href="${request.contextPath}/css/xadmin.css">
    <script type="text/javascript" src="${request.contextPath}/js/jquery.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="${request.contextPath}/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">


<!--
        <button class="layui-btn layui-btn-sm"><i class="layui-icon"></i></button>
-->

        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:window.open(location.href);" title="打开新窗口">
            <i class="layui-icon" style="line-height:30px"></i></a>

          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
  


      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
         <legend>基本信息：</legend>
    </fieldset>

      <div class="layui-row layui-col-space12">
             <div class="layui-col-md3">
                  <span lay-separator="">
                  <a href>接口名称:&nbsp;&nbsp;&nbsp;&nbsp;${interfaceDetail.description!}</a></span>
              </div>
              <div class="layui-col-md3">
                      <span lay-separator="">
                      <a href>接口类型:&nbsp;&nbsp;&nbsp;&nbsp;${interfaceDetail.type!}</a></span>
              </div>
             <div class="layui-col-md6">
                    <span lay-separator="">
                    <a href>接口地址:&nbsp;&nbsp;&nbsp;&nbsp;${interfaceDetail.name!}</a>
                    </span>
             </div>

      </div>

        <#if interfaceDetail.type=='REST'>
            <div class="layui-row layui-col-space10">

                <div class="layui-col-md2">
                    <span lay-separator="">
                        <a href>请求方式：${interfaceDetail.requestType!}</a>
                     </span>
                </div>

                <div class="layui-col-md8">
                    <span lay-separator="">
                    <a href>URL：${interfaceDetail.address!}</a>
                    </span>
                </div>
            </div>
        </#if>

        <div class="layui-row layui-col-space10">

               
             <div class="layui-col-md2">
               <span lay-separator="">
                    <a href>接口状态： ${interfaceDetail.status!}</a>
                    </span>
             </div>

             <div class="layui-col-md2">
                <span lay-separator="">
                    <a href>所属系统：${interfaceDetail.systemName!}</a>
                 </span>
             </div>
             <div class="layui-col-md2">
                <span lay-separator="">
                    <a href>接口使用方: ${interfaceDetail.caller!} </a>
                 </span>
             </div>
                <div class="layui-col-md2">
                <span lay-separator="">
                    <a href>接口提供时间：${(interfaceDetail.createTime?date)!}  </a>
                 </span>
             </div>
                <div class="layui-col-md2">
                <span lay-separator="">
                    <a href>接口最后修改时间：${(interfaceDetail.updateTime?date)!}</a>
                 </span>
             </div>
      </div>






       <div class="layui-row layui-col-space10">
           <div class="layui-col-md10">
             <span lay-separator="">
               接口描述：<textarea placeholder="接口说明信息，接口说明信息，接口说明信息，接口说明信息" class="layui-textarea" readonly>
                 ${interfaceDetail.memo!}
             </textarea>
            </span>
           </div>
        </div>


        <#if (interfaceDetail.reqParamTypeBO)??>


            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
                <legend>请求参数：${interfaceDetail.reqParamTypeBO.paramTypeName}</legend>
            </fieldset>

            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th>请求参数</th>
                    <th>参数类型</th>
                    <th>长度</th>
                    <th>是否必填</th>
                    <th>默认值</th>
                    <th>接口描述</th>
                    <th>示例值</th>
                </thead>
                <tbody class="x-cate">

                <#list interfaceDetail.reqParamTypeBO.paramFieldList as paramField>
                    <tr cate-id='${paramField.id?c}' fid='${paramField.parentId?c}' >

                        <#if paramField.hasGenericParam>
                            <td>
                                <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                    ${paramField.paramName}
                            </td>
                           <#elseif paramField.parentId==0>
                               <td>${paramField.paramName}</td>
                           <#else>
                               <td>&nbsp;&nbsp;&nbsp;&nbsp;${paramField.paramName}</td>
                        </#if>

                        <td><xmp>${paramField.paramType}</xmp></td>
                        <td>${paramField.paramLength}</td>
                        <td>${paramField.required}</td>
                        <td>${paramField.defaultValue}</td>
                        <td>${paramField.paramDescription}</td>
                        <td>${paramField.example}</td>
                    </tr>
                </#list>
                </tbody>
            </table>
        </#if>


        <#if (interfaceDetail.respParamTypeBO)??>


            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
                <legend>返回值:${interfaceDetail.respParamTypeBO.paramTypeName}</legend>
            </fieldset>
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th>请求参数</th>
                    <th>参数类型</th>
                    <th>长度</th>
                    <th>是否必填</th>
                    <th>默认值</th>
                    <th>接口描述</th>
                    <th>示例值</th>
                </thead>
                <tbody class="x-cate">

                <#list interfaceDetail.respParamTypeBO.paramFieldList as paramField>
                    <tr cate-id='${paramField.id?c}' fid='${paramField.parentId?c}' >

                        <#if paramField.hasGenericParam>
                            <td>
                                <i class="layui-icon x-show" status='true'>&#xe623;</i>
                                ${paramField.paramName}
                            </td>
                            <#elseif paramField.parentId==0>
                                <td>${paramField.paramName}</td>
                                <#else>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;${paramField.paramName}</td>
                        </#if>

                        <td><xmp>${paramField.paramType}</xmp></td>
                        <td>${paramField.paramLength}</td>
                        <td>${paramField.required}</td>
                        <td>${paramField.defaultValue}</td>
                        <td>${paramField.paramDescription}</td>
                        <td>${paramField.example}</td>
                    </tr>
                </#list>
                </tbody>
            </table>
        </#if>
      

    </div>


  </body>

</html>